<div class="table-container" style="    display: flex;
justify-content: flex-end;
flex-wrap: wrap;">
    <!-- Add New Page Button -->
    <button class="add-new-page-button" (click)="openDialog()" style=" background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;">Add Room</button>
  
    <!-- Table -->
    <table class="styled-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Outlet Name</th>
          <th>Room Type</th>
          <th>Room Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of justHotelData; let i = index" (click)="openDialogForUpdate(item.roomId)">
          <td>{{ i + 1 }}</td>
          <td>{{ item.outlet.name }}</td>
          <td>{{ item.roomType.typeName }}</td>
          <td>{{ item.roomNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  