<div class="customer-page theme-default-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
          <div class="login section-bg-1" style="background: beige;">
            <div class="login-form-container">
              <div class="login-text">
                <h2>Create Account</h2>
                <p>Please Register using account details below.</p>
              </div>
              <div class="register-form">
                <form [formGroup]="registerForm">
              
                  <div class="form-group">
                    <label for="userName">User Name</label>
                    <input id="userName" formControlName="userName" type="text" maxlength="100" placeholder="Enter user name" />
                    <div *ngIf="registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched" class="error">
                      User name is required and must be less than 100 characters.
                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" formControlName="email" type="email" maxlength="255" placeholder="Enter email address" />
                    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
                      A valid email is required.
                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="passwordHash">Password Hash</label>
                    <input id="passwordHash" formControlName="passwordHash" type="password" maxlength="255" placeholder="Enter password hash" />
                    <div *ngIf="registerForm.get('passwordHash')?.invalid && registerForm.get('passwordHash')?.touched" class="error">
                      Password hash is required.
                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="roleId">Role ID</label>
                    <input id="roleId" formControlName="roleId" type="number" placeholder="Enter role ID" />
                    <div *ngIf="registerForm.get('roleId')?.invalid && registerForm.get('roleId')?.touched" class="error">
                      Role ID is required.
                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="outletId">Outlet ID</label>
                    <input id="outletId" formControlName="outletId" type="number" placeholder="Enter outlet ID" />
                    <div *ngIf="registerForm.get('outletId')?.invalid && registerForm.get('outletId')?.touched" class="error">
                      Outlet ID is required.
                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input id="phoneNumber" formControlName="phoneNumber" type="text" placeholder="Enter phone number" />
                  </div>
                
                  <div class="form-group">
                    <label for="address">Address</label>
                    <input id="address" formControlName="address" type="text" placeholder="Enter address" />
                  </div>
                
                  <div class="form-group">
                    <label for="city">City</label>
                    <input id="city" formControlName="city" type="text" placeholder="Enter city" />
                  </div>
                
                  <div class="form-group">
                    <label for="state">State</label>
                    <input id="state" formControlName="state" type="text" placeholder="Enter state" />
                  </div>
                
                  <div class="form-group">
                    <label for="zipCode">Zip Code</label>
                    <input id="zipCode" formControlName="zipCode" type="text" placeholder="Enter zip code" />
                  </div>
                
                  <div class="form-group">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input id="dateOfBirth" formControlName="dateOfBirth" type="date" />
                  </div>
                
                  <div class="form-group">
                    <label>
                      <input type="checkbox" formControlName="isActive" />
                      Is Active
                    </label>
                  </div>
                
                  <div class="form-group">
                    <label>
                      <input type="checkbox" formControlName="isAdmin" />
                      Is Admin
                    </label>
                  </div>
                </form>
                    <button type="submit" (click)="onSubmit()">Create</button>
             
                <div class="account-optional-action">
                  <a href="../index.html">Return to Store</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  