<div class="table-container" style="    display: flex;
justify-content: flex-end;
flex-wrap: wrap;">
    <!-- Add New Page Button -->
    <button *ngIf="this.permissionArray && this.permissionArray.canEdit" class="add-new-page-button" (click)="openDialog()" style=" background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;">Add Hotel</button>
    <!-- Table -->
    <table class="styled-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Address</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paginatedData; let i = index" >
          <td (click)="openDialogForUpdate(item.hotelid)">{{ i + 1 }}</td>
          <td (click)="openDialogForUpdate(item.hotelid)">{{ item.address }}, {{ item.city }}, {{ item.state }} {{ item.zipCode }}</td>
          <td (click)="openDialogForUpdate(item.hotelid)">{{ item.email }}</td>
          <td (click)="openDialogForUpdate(item.hotelid)">{{ item.rating ? 'Rated' : 'Not Rated' }}</td>
          <td (click)="openDialogForUpdate(item.hotelid)">
            <span [class]="item.isActive ? 'status active' : 'status inactive'">
              {{ item.isActive ? 'Active' : 'Inactive' }}
            </span>
          </td>
          <ng-container *ngIf="item.images.length <= 0">
          <td (click)="openDialogImageUpload(item.hotelid)"> Upload Image</td>
         </ng-container>
          <ng-container *ngIf="item.images.length > 0">
          <td   (click)="openDialogImageUploadForUpdate(item.hotelid, item.images[0].id, item.images[0]?.imageName)">Change Image</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="justHotelData.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  