<div class="form-header" style="display: flex;
justify-content: flex-end;
align-items: center;">
  <button class="btn btn-outline-primary" style="margin-right: 10px;" (click)="dialogRef.close(SaveUpdateEvent)">
    <i class="fa fa-close"></i> Cancel
  </button>
  <button type="submit" style="margin-right: 10px;" (click)="onSubmit()">
    <i class="fa fa-save"></i> Save
  </button>
</div>

<form [formGroup]="rolePermissionForm">
    <div class="form-group">
      <label for="roleId">Role ID</label>
      <input id="roleId" formControlName="roleId" type="number" />
    </div>
  
    <div class="form-group">
      <label for="pageId">Page ID</label>
      <input id="pageId" formControlName="pageId" type="number" />
    </div>
  
    <div class="form-group checkbox-group">
      <label for="canView">
        <input id="canView" formControlName="canView" type="checkbox" />
        Can View
      </label>
    </div>
  
    <div class="form-group checkbox-group">
      <label for="canEdit">
        <input id="canEdit" formControlName="canEdit" type="checkbox" />
        Can Edit
      </label>
    </div>
  
    <div class="form-group checkbox-group">
      <label for="canDelete">
        <input id="canDelete" formControlName="canDelete" type="checkbox" />
        Can Delete
      </label>
    </div>
  </form>
  