<div class="table-container" style="    display: flex;
justify-content: flex-end;
flex-wrap: wrap;">
    <!-- Add New Page Button -->
    <button class="add-new-page-button" (click)="openDialog()" style=" background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;">Add Module</button>
  
    <!-- Table -->
    <table class="styled-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Address</th>
          <th>Email</th>
          <th>Role</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of justHotelData; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item.address }}, {{ item.city }}, {{ item.state }} {{ item.zipCode }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.rating ? 'Rated' : 'Not Rated' }}</td>
          <td>
            <span [class]="item.isActive ? 'status active' : 'status inactive'">
              {{ item.isActive ? 'Active' : 'Inactive' }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  