<div class="table-container" style="    display: flex;
justify-content: flex-end;
flex-wrap: wrap;">
    <!-- Add New Page Button -->
    <button *ngIf="this.permissionArray && this.permissionArray.canEdit" class="add-new-page-button" (click)="openDialog()" style=" background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;">Add Role-Permission</button>
  
    <!-- Table -->
    <table class="styled-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Role Name</th>
          <th>Can View</th>
          <th>Can Create</th>
          <th>Can Update</th>
          <th>Can Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paginatedData; let i = index" (click)="openDialogForUpdate(item.roleId)">
          <td>{{ i + 1 }}</td>
          <td>{{ item.role?.roleName }}</td>
          <td>
            <span [class]="item.canView ? 'status active' : 'status inactive'">
              {{ item.canView ? 'Yes' : 'No' }}
            </span>
          </td>
          <td>
            <span [class]="item.canEdit ? 'status active' : 'status inactive'">
              {{ item.canEdit ? 'Yes' : 'No' }}
            </span>
          </td>
           <td>
            <span [class]="item.canEdit ? 'status active' : 'status inactive'">
              {{ item.canEdit ? 'Yes' : 'No' }}
            </span>
          </td>
          
          <td>
            <span [class]="item.canDelete ? 'status active' : 'status inactive'">
              {{ item.canDelete ? 'Yes' : 'No' }}
            </span>
          </td>
        </tr>
        
      </tbody>
    </table>

    
    <mat-paginator [length]="justHotelData.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  