<div class="table-container" style="    display: flex;
justify-content: flex-end;
flex-wrap: wrap;">
    <!-- Add New Page Button -->
    <button *ngIf="this.permissionArray && this.permissionArray.canEdit" class="add-new-page-button" (click)="openDialog()" style=" background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;">Add CheckIn</button>
    <!-- Table -->
    <table class="styled-table">
      <thead>
        <tr>
          <th>#</th>
          <th>checkInTime</th>
          <th>Email</th>
          <th>outletid</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of justHotelData; let i = index" (click)="openDialogForUpdate(item.checkInId)"> 
          <td>{{ i + 1 }}</td>
          <td>{{ item.checkInTime }}</td>
          <td>{{ item.additionalRequests }}</td>
          <td>{{ item.outletid}}</td>
          <td>
            <span [class]="item.isActive ? 'status active' : 'status inactive'">
              {{ item.isActive ? 'Active' : 'Inactive' }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  