<div class="table-container" style="    display: flex;
justify-content: flex-end;
flex-wrap: wrap;">
    <!-- Add New Page Button -->
    <button class="add-new-page-button" (click)="openDialog()" style=" background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;">Add Guest</button>
  
    <!-- Table -->
    <table class="styled-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>address</th>
          <th>Identification Type</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of paginatedData; let i = index" (click)="openDialogForUpdate(item.guestId)">
          <td>{{ i + 1 }}</td>
          <td>{{ item.firstName }} {{item.lastName}}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.address}}</td>
          <td>{{item.identificationType}}</td>
          <td>
            <span [class]="item.isActive ? 'status active' : 'status inactive'">
              {{ item.isActive ? 'Active' : 'Inactive' }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="justHotelData.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 50]" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
  