<div class="form-header" style="display: flex;
justify-content: flex-end;
align-items: center;">
  <button class="btn btn-outline-primary" style="margin-right: 10px;" (click)="dialogRef.close(isUpdateMode)">
    <i class="fa fa-close"></i> Cancel
  </button>
  <button type="submit" style="margin-right: 10px;" (click)="onSubmit()">
    <i class="fa fa-save"></i> {{this.data && this.data.pageId && this.data.userId ? 'Update' : 'Save'}}
  </button>
  <button type="submit" *ngIf="this.data && this.data.pageId && this.data.userId" style="margin-right: 10px;" (click)="onDelete()">
    <i class="fa fa-save"></i> Delete
  </button>
</div>

<form [formGroup]="userPermissionForm">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>User Name</mat-label>
      <input type="text"
             placeholder="Pick a User"
             aria-label="userId"
             matInput
             formControlName="userName"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let UserType of filteredUserTypes$ | async" [value]="UserType.userName">
          {{ UserType.userName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
    <!-- <div class="form-group">
      <label for="userId">User ID</label>
      <input
        id="userId"
        formControlName="userId"
        type="number"
        placeholder="Enter User ID"
      />
      <div *ngIf="userPermissionForm.get('userId')?.invalid && userPermissionForm.get('userId')?.touched" class="error">
        User ID is required.
      </div>
    </div> -->
    <div>
      <mat-form-field>
        <mat-label>Page Name</mat-label>
        <input type="text"
               placeholder="Pick a Page"
               aria-label="pageId"
               matInput
               formControlName="pageName"
               [matAutocomplete]="autoPage">
        <mat-autocomplete #autoPage="matAutocomplete" (optionSelected)="onOptionSelectedPage($event)">
          <mat-option *ngFor="let PageType of filteredPageTypes$ | async" [value]="PageType.pageName">
            {{ PageType.pageName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <!-- <div class="form-group">
      <label for="pageId">Page ID</label>
      <input
        id="pageId"
        formControlName="pageId"
        type="number"
        placeholder="Enter Page ID"
      />
      <div *ngIf="userPermissionForm.get('pageId')?.invalid && userPermissionForm.get('pageId')?.touched" class="error">
        Page ID is required.
      </div>
    </div> -->
  
    <div class="form-group">
      <label>
        <input type="checkbox" formControlName="canView" />
        Can View
      </label>
    </div>
  
    <div class="form-group">
      <label>
        <input type="checkbox" formControlName="canEdit" />
        Can Edit
      </label>
    </div>
  
    <div class="form-group">
      <label>
        <input type="checkbox" formControlName="canDelete" />
        Can Delete
      </label>
    </div>
  </form>
  