<div class="form-header" style="display: flex;
justify-content: flex-end;
align-items: center;">
  <button class="btn btn-outline-primary" style="margin-right: 10px;" (click)="dialogRef.close(SaveUpdateEvent)">
    <i class="fa fa-close"></i> Cancel
  </button>
  <button type="submit" style="margin-right: 10px;" (click)="onSubmit()">
    <i class="fa fa-save"></i> Save
  </button>
</div>

<form [formGroup]="outletForm">
    <div>
      <label for="name">Outlet Name</label>
      <input id="name" formControlName="name" type="text" />
    </div>
  
    <div>
      <label for="address">Address</label>
      <input id="address" formControlName="address" type="text" />
    </div>
  
    <div>
      <label for="city">City</label>
      <input id="city" formControlName="city" type="text" />
    </div>
  
    <div>
      <label for="state">State</label>
      <input id="state" formControlName="state" type="text" />
    </div>
  
    <div>
      <label for="zipCode">Zip Code</label>
      <input id="zipCode" formControlName="zipCode" type="text" />
    </div>
  
    <div>
      <label for="phoneNumber">Phone Number</label>
      <input id="phoneNumber" formControlName="phoneNumber" type="text" />
    </div>
  
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
    </div>
  
    <div>
      <label for="hotelId">Hotel ID</label>
      <input id="hotelId" formControlName="hotelId" type="number" />
    </div>
  
  </form>
  