<div class="form-header" style="display: flex;
justify-content: flex-end;
align-items: center;">
  <button class="btn btn-outline-primary" style="margin-right: 10px;" (click)="dialogRef.close(SaveUpdateEvent)">
    <i class="fa fa-close"></i> Cancel
  </button>
  <button *ngIf="this.permissionArray && this.permissionArray.canEdit" type="submit" style="margin-right: 10px;" (click)="onSubmit()">
    <i class="fa fa-save"></i> {{this.data ? 'Update' : 'Save'}}
  </button>
  <button type="submit" *ngIf="this.data" style="margin-right: 10px;" (click)="onDelete()">
    <i class="fa fa-save"></i> Delete
  </button>
</div>

<form [formGroup]="outletForm">
    <div>
      <label for="name">Outlet Name</label>
      <input id="name" formControlName="name" type="text" />
    </div>
  
    <div>
      <label for="address">Address</label>
      <input id="address" formControlName="address" type="text" />
    </div>
  
    <div>
      <label for="city">City</label>
      <input id="city" formControlName="city" type="text" />
    </div>
  
    <div>
      <label for="state">State</label>
      <input id="state" formControlName="state" type="text" />
    </div>
  
    <div>
      <label for="zipCode">Zip Code</label>
      <input id="zipCode" formControlName="zipCode" type="text" />
    </div>
  
    <div>
      <label for="phoneNumber">Phone Number</label>
      <input id="phoneNumber" formControlName="phoneNumber" type="text" />
    </div>
  
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Hotel</mat-label>
        <input type="text"
               placeholder="Pick a Outlet"
               aria-label="Hotel"
               matInput
               formControlName="HotelName"
               [matAutocomplete]="autoHotel">
        <mat-autocomplete #autoHotel="matAutocomplete" (optionSelected)="onOptionSelected($event)">
          <mat-option *ngFor="let Hotel of filteredHotels$ | async" [value]="Hotel.HotelName">
            {{ Hotel.HotelName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  
    <div>
      <label for="hotelId">Hotel ID</label>
      <input id="hotelId" formControlName="hotelId" type="number" />
    </div>
  
  </form>
  