<div class="form-header" style="display: flex;
justify-content: flex-end;
align-items: center;">
<button class="btn btn-outline-primary" style="margin-right: 10px;" (click)="dialogRef.close(SaveUpdateEvent)">
  <i class="fa fa-close"></i> Cancel
</button>
<button type="submit" style="margin-right: 10px;" (click)="onSubmit()">
  <i class="fa fa-save"></i> {{this.data ? 'Update' : 'Save'}}
</button>
<button type="submit" *ngIf="this.data" style="margin-right: 10px;" (click)="onDelete()">
  <i class="fa fa-save"></i> Delete
</button>
</div>

<form [formGroup]="pageForm">
  <div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Module ID</mat-label>
        <input type="text"
               placeholder="Select Module"
               aria-label="Module ID"
               matInput
               formControlName="moduleName" 
               [matAutocomplete]="auto"
               > 
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onModuleSelected($event)">
          <mat-option *ngFor="let moduleType of filteredModuleTypes | async" [value]="moduleType.moduleName">
            {{ moduleType.moduleName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>

  <div>
    <label for="pageName">Page Name</label>
    <input id="pageName" formControlName="pageName" type="text" />
  </div>

  <div>
    <label for="pageUrl">Page URL</label>
    <input id="pageUrl" formControlName="pageUrl" type="text" />
  </div>
</form>
  