* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  .calendar-container {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6851be;
    color: #fff;
    padding: 15px;
  }
  
  .calendar-header .month-year {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
  
  .prev-month, .next-month {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  
  table.calendar {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  table.calendar thead {
    background-color: #f0f0f0;
  }
  
  table.calendar th {
    padding: 10px 0;
    color: #333;
  }
  
  table.calendar tbody td {
    padding: 20px;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  table.calendar tbody td.active {
    background-color: #4a90e2;
    color: white;
    border-radius: 50%;
  }
  
  table.calendar tbody td:hover {
    background-color: #e0e7ff;
    color: #4a90e2;
  }
  
  @media (max-width: 600px) {
    .calendar-container {
      max-width: 90%;
    }
  
    table.calendar tbody td {
      padding: 15px;
    }
  }
  /* .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    transition: transform 0.3s ease;
  } */
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-icon {
    font-size: 50px;
    color: #4CAF50; /* You can change the color of the icon */
    margin-bottom: 20px;
  }
  
  .card-title {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
  }
  
  .card-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .card-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
    background-color: #45a049;
  }

