<div class="calendar-container">
    <div class="calendar-header">
      <button class="prev-month" (click)="changeMonth(-1)">&#10094;</button>
      <div class="month-year">
        <span>{{ monthName }}</span>
        <span>{{ currentYear }}</span>
      </div>
      <button class="next-month" (click)="changeMonth(1)">&#10095;</button>
    </div>
    <table class="calendar">
      <thead>
        <tr>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of calendarDays">
          <td *ngFor="let day of week" [class.active]="isToday(day)" (click)="openRoomAvailability(day,'toOpenCalendar')">
            {{ day.date }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card" (click)="openRoomAvailability('','toOpenReservation')">
    <div class="card-icon">
      <i class="fas fa-check-circle"></i>
    </div>
    <div class="card-content">
      <h3 class="card-title">View Reservations</h3>
      <!-- <p class="card-description">
        Your operation was completed successfully. You can now proceed with the next step.
      </p>
      <button class="card-button">Continue</button> -->
    </div>
  </div>

  <div class="card" (click)="openRoomAvailability('','toCreateResrvation')">
    <div class="card-icon">
      <i class="fas fa-check-circle"></i>
    </div>
    <div class="card-content">
      <h3 class="card-title">Create Reservation</h3>
      <!-- <p class="card-description">
        Your operation was completed successfully. You can now proceed with the next step.
      </p> -->
    </div>
  </div>
  
  