<div class="table-container" style="    display: flex;
justify-content: flex-end;
flex-wrap: wrap;">
    <!-- Add New Page Button -->
    <button class="add-new-page-button" (click)="openDialog()" style=" background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;">Add Reservation</button>
  
    <!-- Table -->
     <div style="overflow: scroll;"> 
      <table class="styled-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Guest ID</th>
            <th>Room ID</th>
            <th>Reservation Date</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Status</th>
            <th>Payment Status</th>
            <th>Total Amount</th>
            <th>Special Requests</th>
            <th>Outlet ID</th>
            <th>Checkin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of justHotelData; let i = index">
            <td (click)="openDialogForUpdate(item.reservationId)">{{ i + 1 }}</td>
            <td (click)="openDialogForUpdate(item.reservationId)">{{ item.guestId }}</td>
            <td (click)="openDialogForUpdate(item.reservationId)">{{ item.roomId }}</td>
            <td (click)="openDialogForUpdate(item.reservationId)">{{ item.reservationDate | date: 'yyyy-MM-dd' }}</td>
            <td (click)="openDialogForUpdate(item.reservationId)">{{ item.checkInDate | date: 'yyyy-MM-dd' }}</td>
            <td (click)="openDialogForUpdate(item.reservationId)">{{ item.checkOutDate | date: 'yyyy-MM-dd' }}</td>
            <td (click)="openDialogForUpdate(item.reservationId)">{{ item.status }}</td>
            <td (click)="openDialogForUpdate(item.reservationId)">{{ item.paymentStatus }}</td>
            <td (click)="openDialogForUpdate(item.reservationId)">{{ item.totalAmount | currency }}</td>
            <td (click)="openDialogForUpdate(item.reservationId)">{{ item.specialRequests }}</td>
            <td (click)="openDialogForUpdate(item.reservationId)">{{ item.outletid }}</td>
            
            <td>
              <span [class]="item.paymentStatus == 'paid' ? 'status active' : 'status inactive'">
                <span *ngIf="item.paymentStatus != 'paid'" class="pay-now" (click)="openDialogForPayment(item.reservationId, $event)">Pay Now</span>
                <span *ngIf="item.paymentStatus == 'paid'" class="pay-now" (click)="openDialogForCheckIn(item.reservationId,item.roomId,item.outletid,$event)">checkin</span>
              </span>
            </td>
          
          </tr>
          
        </tbody>
      </table>
     </div>
  
    
  </div>
  