<div class="form-header" style="display: flex;
justify-content: flex-end;
align-items: center;">
  <button class="btn btn-outline-primary" style="margin-right: 10px;" (click)="dialogRef.close(SaveUpdateEvent)">
    <i class="fa fa-close"></i> Cancel
  </button>
  <button  type="submit" style="margin-right: 10px;" (click)="onSubmit()">
    <i class="fa fa-save"></i> {{this.data ? 'Update' : 'Save'}}
  </button>
  <button type="submit" *ngIf="this.data" style="margin-right: 10px;" (click)="onDelete()">
    <i class="fa fa-save"></i> Delete
  </button>
</div>

<form [formGroup]="roomRateForm">

  <div>
    <label for="roomTypeId">Room Type</label>
    <select id="roomTypeId" formControlName="roomTypeId">
      <option *ngFor="let type of roomTypes" [value]="type.id">{{ type.name }}</option>
    </select>
  </div>
  
  <div>
    <label for="startDate">Start Date</label>
    <input id="startDate" formControlName="startDate" type="date" />
  </div>

  <div>
    <label for="endDate">End Date</label>
    <input id="endDate" formControlName="endDate" type="date" />
  </div>

  <div>
    <label for="ratePerNight">Rate Per Night</label>
    <input id="ratePerNight" formControlName="ratePerNight" type="number" step="0.01" />
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Outlet</mat-label>
      <input type="text"
             placeholder="Pick a Outlet"
             aria-label="Outlet"
             matInput
             formControlName="OutletName"
             [matAutocomplete]="autoOutlet">
      <mat-autocomplete #autoOutlet="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let outlet of filteredOutlets$ | async" [value]="outlet.name">
          {{ outlet.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <!-- <div>
    <label for="outletid">Outlet</label>
    <select id="outletid" formControlName="outletid">
      <option *ngFor="let outlet of outlets" [value]="outlet.id">{{ outlet.name }}</option>
    </select>
  </div> -->

</form>
