* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  .table-container {
    width: 90%;
    overflow-x: auto;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    min-width: 400px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .styled-table thead tr {
    background-color: #37327e;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s ease;
  }
  
  .styled-table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #343a40;
  }
  
  .styled-table td .status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .styled-table td .status.active {
    background-color: #28a745;
    color: white;
  }
  
  .styled-table td .status.inactive {
    background-color: #dc3545;
    color: white;
  }
  
  @media screen and (max-width: 600px) {
    .styled-table thead {
      display: none;
    }
  
    .styled-table tbody tr {
      display: block;
      margin-bottom: 10px;
      border-bottom: 0;
    }
  
    .styled-table tbody tr td {
      display: block;
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
  
    .styled-table tbody tr td:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
    }

  
  }
  .add-new-page-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .add-new-page-button:hover {
    background-color: #45a049;
  }
  
  ::ng-deep .custom-dialog-container .mat-dialog-container {
    margin-left: 280px; 
  }

  .mat-mdc-paginator {
    background-color: #e9e7ff !important;
  }