<div class="col-md-12 col-xl-12" *ngIf="this.data.value === 'toOpenCalendar'">
  <div class="card sales-report" style="margin-top: 42px;">
    <div class="card-header card-no-border">
      <div class="header-top">
        <h5>Availability</h5>
      </div>
    </div>

    <div class="card-body pt-0 analytics-data">
      <div class="social-tabs">
        <div class="nav nav-pills custom-scrollbar" id="social-pills-tab" role="tablist" style="display: flex; justify-content: space-evenly;">
          <!-- Room Availability Tab -->
          <a class="social-box tab-link bg-7-danger" (click)="selectTab('table1')" role="tab" aria-controls="table1" aria-selected="true">
            <div class="frame-image">
              <div class="outline-10-danger">
                <div class="bg-10-danger">
                  <i class="fa fa-bed"></i> <!-- Bed Icon for Room Availability -->
                </div>
              </div>
            </div>
            <span>Room Availability</span>
          </a>
          <!-- Reservations Tab -->
          <a class="social-box tab-link bg-7-primary active" (click)="selectTab('table2')" role="tab" aria-controls="table2" aria-selected="false">
            <div class="frame-image">
              <div class="outline-10-primary">
                <div class="bg-10-primary">
                  <i class="fa fa-calendar-alt"></i> <!-- Calendar Icon for Reservations -->
                </div>
              </div>
            </div>
            <span>Reservations</span>
          </a>
        </div>

        <div class="tab-content" id="social-pills-tabContent">
          <!-- Room Availability Tab Content -->
          <div class="tab-pane fade" *ngIf="selectedTab === 'table1'" id="table1" class="table">
            <div id="room-availability" class="table-container" style="min-height: 365px; margin-top: 20px;">
              <table class="styled-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Outlet Name</th>
                    <th>Room Type</th>
                    <th>Room Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of paginatedDataForRoom; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.outlet.name }}</td>
                    <td>{{ item.roomType.typeName }}</td>
                    <td>{{ item.roomNumber }}</td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator [length]="theDataWeGotForRoom.length" [pageSize]="10" [pageSizeOptions]="[0, 5, 10, 25, 50]" (page)="onPageChange($event)">
              </mat-paginator>
            </div>
          </div>

          <!-- Reservations Tab Content -->
          <div class="tab-pane fade active show" *ngIf="selectedTab === 'table2'" id="table2" class="table">
            <div id="reservation-analysis" class="table-container" style="min-height: 365px; margin-top: 20px; overflow-x: auto;">
              <table class="styled-table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Outlet Name</th>
                    <th>Room Number</th>
                    <th>Guest Name</th>
                    <th>Check-In Date</th>
                    <th>Check-Out Date</th>
                    <th>Status</th>
                    <th>Payment Status</th>
                    <th>Total Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of paginatedDataForReserVation; let i = index" (click)="openDialog(item.reservationId)">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.outlet?.name }}</td>
                    <td>{{ item.room?.roomNumber }}</td>
                    <td>{{ item.guest?.firstName }} {{ item.guest?.lastName }}</td>
                    <td>{{ item.checkInDate | date: 'shortDate' }}</td>
                    <td>{{ item.checkOutDate | date: 'shortDate' }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.paymentStatus }}</td>
                    <td>{{ item.totalAmount | currency }}</td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator [length]="reservationData.length" [pageSize]="10" [pageSizeOptions]="[0, 5, 10, 25, 50]" (page)="onPageChangeRes($event)">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 col-xl-12" *ngIf="this.data.value === 'toOpenGuestManagement'">
  <div class="card sales-report" style="margin-top: 42px;">
    <div class="card-header card-no-border">
      <div class="header-top">
        <h5>Availability</h5>
      <div>
        <form [formGroup]="searchForm">
          <div>
            <label for="firstName">First Name</label>
    <input id="firstName" formControlName="firstName" type="text" />
          </div>
          <div>
            <label for="lastName">Last Name</label>
    <input id="lastName" formControlName="lastName" type="text" />
          </div>
        </form>
      </div>
      </div>
    </div>

    <table class="styled-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Guest Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Identification Type</th>
          <th>Identification Number</th>
          <th>Reservation Date</th>
          <th>Check-In Date</th>
          <th>Check-Out Date</th>
          <th>Reservation Status</th>
          <th>Payment Status</th>
          <th>Total Reservation Amount</th>
          <th>Bill Payment Method</th>
          <th>Bill Status</th>
          <th>Bill Total Amount</th>
          <th>Bill Details</th>
        </tr>
      </thead>
      <tbody>
        <!-- Guest Loop -->
        <ng-container *ngFor="let guest of paginatedDataForRoom; let i = index">
          <!-- Reservation Loop -->
          <ng-container *ngFor="let res of guest.reservation; let j = index">
            <tr>
              <!-- Guest Info: Only on the first reservation row -->
              <td *ngIf="j === 0" [attr.rowspan]="guest.reservation.length">{{ i + 1 }}</td>
              <td *ngIf="j === 0" [attr.rowspan]="guest.reservation.length">{{ guest.firstName }} {{ guest.lastName }}</td>
              <td *ngIf="j === 0" [attr.rowspan]="guest.reservation.length">{{ guest.email }}</td>
              <td *ngIf="j === 0" [attr.rowspan]="guest.reservation.length">{{ guest.phone }}</td>
              <td *ngIf="j === 0" [attr.rowspan]="guest.reservation.length">{{ guest.identificationType }}</td>
              <td *ngIf="j === 0" [attr.rowspan]="guest.reservation.length">{{ guest.identificationNumber }}</td>
  
              <!-- Reservation Info -->
              <td>{{ res.reservationDate | date: 'shortDate' }}</td>
              <td>{{ res.checkInDate | date: 'shortDate' }}</td>
              <td>{{ res.checkOutDate | date: 'shortDate' }}</td>
              <td>{{ res.status }}</td>
              <td>{{ res.paymentStatus }}</td>
              <td>{{ res.totalAmount | currency }}</td>
  
              <!-- Bill Info (Matching the reservationId) -->
              <ng-container *ngIf="guest.bill">
                <ng-container *ngFor="let bill of guest.bill">
                  <ng-container *ngIf="bill.reservationId === res.reservationId">
                    <td>{{ bill.paymentMethod }}</td>
                    <td>{{ bill.status }}</td>
                    <td>{{ bill.totalAmount | currency }}</td>
                    <td>
                      <ul>
                        <li *ngFor="let detail of bill.billDetails">
                          {{ detail.description }}: {{ detail.amount | currency }}
                        </li>
                      </ul>
                    </td>
                  </ng-container>
                </ng-container>
              </ng-container>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
    <mat-paginator [length]="theDataWeGotForRoom.length" [pageSize]="10" [pageSizeOptions]="[0, 5, 10, 25, 50]" (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>

